.App-title{
  margin: 0;
  padding: 15px 5px 5px 15px;
}

.auth-div{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.auth-box{
  border: 1px solid rgba(128, 128, 128, 0.487);
  padding: 50px;
  text-align: center;
}

.btn-auth{
  width: 100%;
  border-radius: 0% !important;
}

.bg-body-tertiary {
  background-color: #F2F3F3 !important;
}

.nav-div{
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px;
  border-bottom-style: solid #e3e3e5;
  box-shadow: 0 4px 2px -2px #e3e3e5; 
  font-weight: 400;
  font-size: 17PX;
}

.nav-link {
  color: #141414;
}

.nav-item :hover {
  color: #195587;
}

.home-div{
  min-height: 60vh;
  display: flex;
  align-items: top;
  padding-top: 30px;
  padding-bottom: 40px;
}

.nav-padd{
  padding-top: 110px;
}

.heading{
  margin-top: 20px;
  margin-bottom: 30px !important;
  font-weight: bold;
}

.btn-primary{
  background-color: #195587;
  border-radius: 5px;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.open>.dropdown-toggle.btn-primary{
  background-color: #2b6696 !important;
}

.card-text{
  color: #193C4D;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-title{
  font-weight: 650;
  font-size: large;
  color: #193C4D;
}

.form-control{
  background-color: transparent;
  color: #193C4D;
  border-color: #14141456;
  border-radius: 0.175rem;
}
.form-control:focus{
  border-color: #141414;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #14141473;
}

.table-heading{
  background-color: #F2F3F3;
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
  border: 1px solid #e3e3e5;
}

.table-head-text{
  font-weight: 350;
  font-size: 23px;
}

.row-list{
  margin-top: 12px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.col-half{
  width:12.3% !important;
}
.col-2half{
  width: 20.83% !important;
}

.row-text{
  font-size: small;
}

.order-status{
  padding: 5%;
  border-color: #14141456;
  border-radius: 0.175rem;
}

.order-placed{
  color: #e3e3e5;
  background-color: #2E7AB0;
}

.order-shipped{
  color: #e3e3e5;
  background-color: #9e9429;
}

.order-delivered{
  color: #e3e3e5;
  background-color: #3D9E29;
}

.order-cancel{
  color: #e3e3e5;
  background-color: #9E293D;
}

.row-list{
  margin-top: 12px;
  padding-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.row-list:hover{
  box-shadow: 1px 1px 28.5px -7px #b0b2b2;
}

.contact-line{
  border: 3px solid;
  width: 13%;
  color: #195587;
  margin-left: 0;
  opacity: 50%;
}

.profile-label{
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 0;
}

.side-heading{
  font-weight: 200;
  font-size: x-large;
}

.btn-submit{
  border-radius: 0%;
}

.login-signup{
  color: inherit;
}
.login-signup:hover,
.login-signup:active,
.login-signup:focus{
  color: #2b6696;
}